.login-form {
  width: 100%;
  height: fit-content;
  padding: 50px 0 80px 0;
  text-align: center;
}
.login-container {
  height: fit-content;
  width: 500px;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
}
.login-container h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}
.login-container button {
  text-align: center;
  margin: auto;
}
.field {
  margin: 10px 0 10px 0;
}
.login-container input {
  height: 30px;
  font-size: 15px;
  background-color: RGB(245, 245, 245);
  border: none;
  height: 45px;
  width: 80%;
  padding: 25px;
  margin-bottom: 15px;
}
.login-container button {
  width: 200px;
  height: 38px;
  margin: 22px 0 10px 0;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: black;
}
.login-container button:hover {
  background-color: rgb(75, 74, 74);
}
.error {
  color: red;
  margin-top: -25px;
}
.login-container li {
  margin: 10px;
}
.login-container a:hover {
  color: rgb(75, 74, 74);
}

@media screen and (max-width: 661px) {
  .login-container {
    width: 100%;
  }
  .login-container h2 {
    font-size: 30px;
  }
  .login-container input {
    padding: 15px;
    margin-bottom: 10px;
  }
}
