.section {
  margin: 40px 0;
}

.banner-section {
  position: relative;
  height: 600px;
  overflow: hidden;
}

.banner-section img {
  width: 100%;
  height: 100%;
  min-height: 600px;
  object-fit: cover; /* Ensures the image covers the entire container */
}

.button-div {
  position: absolute;
  top: 80%;
  left: 15%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  text-align: center;
}

.section button {
  background-color: #ffffff; /* Change to your preferred background color */
  width: 150px;
  height: 50px;
  font-size: 18px; /* Adjust the font size as needed */
  border: none;
  border-radius: 5px;
}
.section button:hover {
  border: 1px solid black;
  width: 155px;
  height: 55px;
}

/* Media Query for responsiveness */
@media (max-width: 661px) {
  .section {
    margin: 20px 0;
  }
  .banner-section {
    height: auto;
  }

  section img {
    height: 200px;
  }

  .section button {
    display: block;
    margin: 20px auto;
    width: 120px;
    height: 40px;
    font-size: 16px;
  }
  .button-div {
    left: 75px;
  }
}
