.banner-section {
  width: 100%;
  max-width: 1400px;
  height: 500px;
  width: auto;
  height: auto;
  position: relative;
}

section img {
  width: 100%;
  height: 100%;
}

.section div {
  margin: auto;
}

.section {
  margin: 40px 0 40px 0;
}
.section button {
  background-color: white;
  left: 100px;
  margin-top: -9%;
  position: absolute;
  float: left;
  width: 150px;
  height: 50px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
}
.view2 {
  height: auto;
  text-align: center;
  margin: auto;
}
.banner-img {
  display: inline-block;
  width: 49%;
  height: 100%;
  max-width: 600px;
  margin: auto;
}

.banner-img:first-child {
  margin-right: 2%;
}
.banner-img img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 661px) {
  .banner-section {
    left: 0;
    text-align: center;
    margin: auto;
  }
  .items-section {
    padding: 90px 0 20px 0;
  }
  section img {
    height: 200px;
  }
  .section button {
    display: block;
    margin: 20px 0 20px 0;
    border: 1px solid black;
    width: 120px;
    height: 40px;
  }
  .view2 {
    height: 450px;
    height: auto;
    text-align: center;
    margin: auto;
  }
  .banner-img {
    display: block;
    width: 100%;
    margin: 50px 0 50px 0;
  }
}
