/* Form Section */
.form {
  width: 100%;
  height: fit-content;
  padding: 50px 0 80px 0;
  text-align: center;
}
.form-container {
  height: fit-content;
  width: 500px;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
}

/* Form Heading */
.form-container h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}

/* Form Imputs */
.field {
  margin: 10px 0 10px 0;
}
.form-container input {
  font-size: 15px;
  background-color: RGB(245, 245, 245);
  border: none;
  height: 45px;
  width: 80%;
  padding: 25px;
  margin-bottom: 15px;
}
.form-container textarea {
  font-size: 15px;
  background-color: RGB(245, 245, 245);
  border: none;
  width: 80%;
  padding: 25px;
  margin-bottom: 15px;
  height: 200px;
}
.error {
  color: red;
  margin-top: -25px;
}
.form .checkbox-container {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  line-height: 1.5;
  height: 24px;
}
.form .checkbox {
  width: 20px;
  height: 20px;
  position: relative;
  margin-top: 14px;
  accent-color: black;
}

/* Form Button */
.form-container button {
  text-align: center;
  margin: auto;
  width: 200px;
  height: 38px;
  margin: 22px 0 10px 0;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: black;
}
.form-container button:hover {
  background-color: rgb(75, 74, 74);
}

/* Form Links*/
.form-container ul {
  padding: 0;
}
.form-container li {
  margin: 10px 0;
  width: 100%;
}
.form-containerr a:hover {
  color: rgb(75, 74, 74);
}

/* Contact Us Inputs*/
.message {
  width: 60%;
  max-width: 1100px;
}
.messagebox {
  vertical-align: text-top;
}
.message .messageField {
  width: 39%;
  margin: 0 10px 0 10px;
}
.messageField {
  display: inline-block;
}

/**********************
*** Tablet - Desktop **
**********************/
@media screen and (max-width: 1061px) {
  /* Form Section */
  .form .checkbox-container {
    width: 80%;
  }

  /* Contact Us Inputs*/
  .message .messageField {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
  }
  .messageField {
    display: block;
  }
}

/**********************
*** Mobile - Tablet ***
**********************/
@media screen and (max-width: 661px) {
  /* Form Section */
  .form-container {
    width: 100%;
  }

  /* Form Imputs */
  .form-container h2 {
    font-size: 30px;
  }
  .form-container input {
    padding: 15px;
    margin-bottom: 10px;
  }
  .form-container textarea {
    padding: 15px;
    margin-bottom: 10px;
  }
}
