.product {
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  padding: 0;
}
.products-card {
  height: max-content;
  text-align: left;
}
.products-card img {
  width: 100%;
  height: auto;
}
.products-card h5 {
  margin: 8px 0 8px 0;
  font-weight: 600;
}
.products-card span {
  display: block;
  margin: 8px 0 8px 0;
}
.category {
  color: rgb(105, 105, 105);
}
.out-of-stock {
  color: "red";
  font-size: "14px";
}

.products-card-couresel {
  height: max-content;
  text-align: left;
}
.products-card-couresel img {
  width: 100%;
  height: auto;
}
.products-card-couresel h5 {
  margin: 8px 0 8px 0;
  font-weight: 600;
}
.products-card-couresel span {
  display: block;
  margin: 8px 0 8px 0;
}
.products-card-couresel .category {
  color: rgb(105, 105, 105);
}
.products-card-couresel .out-of-stock {
  color: "red";
  font-size: "14px";
}
/**********************
*** Tablet - Desktop **
**********************/
@media screen and (min-width: 661px) {
  .products-card {
    width: 31%;
    margin: 10px;
    padding-bottom: 20px;
  }
  .couresel {
    width: 95%;
  }
  .products-card-couresel {
    width: 95%;
    margin: 10px;
    padding-bottom: 20px;
  }
}

/**********************
*** Mobile - Tablet ***
**********************/
@media screen and (max-width: 661px) {
  .product {
    width: 100%;
  }
  .products-card {
    width: 48%;
    margin: 3px;
    padding-bottom: 10px;
  }
  .products-card-couresel {
    width: 100%;
  }
  .products-card h5 {
    font-size: 17px;
  }
  .products-card span {
    font-size: 15px;
  }
  .category {
    font-size: 10px;
  }
  .products-card-couresel h5 {
    font-size: 17px;
  }
  .products-card-couresel span {
    font-size: 15px;
  }
  .products-card-couresel .category {
    font-size: 10px;
  }
}
