.parent-container {
  height: max-content;
  position: relative;
}
.cart-container {
  width: 70%;
  background-color: aqua;
  display: inline-block;
}
.checkout-container {
  width: 25%;
  margin-left: 20px;
  background-color: antiquewhite;
  height: 400px;
  max-height: calc(100vh - 100px);
  position: fixed;
  display: inline-block;
  overflow: auto;
}

.cart-card {
  border: 1px solid black;
  width: 100%;
  margin: 15px 0 15px 0;
  display: flex;
}

.cart-card img {
  width: 100%;
  height: auto;
}

.divider {
  border-left: 1px solid black;
  height: 100%;
  margin: 0 10px;
}
.cart-img {
  width: 30%;
}
.cart-text {
  width: 70%;
  padding: 10px;
}
.cart-text span {
  width: 100%;
  display: block;
}
.category {
  font-size: 20px;
}
.price {
  font-size: 25px;
}
.cart-footer {
  font-size: 17px;
}
.cart-footer span {
  display: inline-block;
  width: 50%;
  text-align: center;
  justify-content: space-between;
}
.cart-footer span input {
  width: 50px;
}
.no-cart-items {
  text-align: center;
  height: 400px;
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
}

.no-cart-items span {
  width: fit-content;
  font-size: 20px;
}
.size {
  font-size: 20px;
  margin-bottom: 20px;
  color: rgb(105, 105, 105);
}

/* Add the following styles for mobile view */
@media screen and (max-width: 661px) {
  .cart-container {
    width: 90%;
    margin: auto;
  }
  .cart-card {
    flex-direction: column; /* Stack items vertically on small screens */
    height: fit-content;
  }

  .divider {
    border-left: none; /* Remove the left border for small screens */
    height: auto;
    margin: 5px 0;
  }

  .cart-img {
    width: 100%; /* Make the image take full width in mobile view */
  }

  .cart-text {
    width: 100%; /* Make the text take full width in mobile view */
    padding: 10px;
  }
  .category {
    margin: 0 0 10px 0;
  }
  .price {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
