/* cart-view container */
.parent-container {
  display: flex;
}
.cart-container {
  flex: 1;
  overflow-y: auto;
}

/* checkout container */
.checkout-container {
  position: fixed;
  top: 15px;
  right: 0;
  height: max-content; /* Make it full screen height */
  width: 30%; /* Take up 30% of the screen */
  background-color: rgba(244, 253, 255, 0.338); /* Optional: for visibility */
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.173);
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  padding: 20px;
  box-sizing: border-box;
  z-index: 999; /* Keep it on top if needed */
}

/* cart-card styling */
.cart-card {
  border: 1px solid black;
  margin: 15px 0 15px 0;
  display: flex;
  height: fit-content;
}
.cart-card img {
  width: 100%;
  height: auto;
}
.cart-text {
  padding: 10px;
  text-align: left;
}
.cart-text span {
  width: 100%;
  display: block;
}
.category {
  font-size: 20px;
}
.cart-footer {
  font-size: 17px;
}
.cart-footer span {
  display: inline-block;
  width: 50%;
  text-align: center;
  justify-content: space-between;
}
.no-cart-items {
  text-align: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-cart-items span {
  width: fit-content;
  font-size: 20px;
}
.size {
  font-size: 20px;
  margin-bottom: 20px;
  color: rgb(105, 105, 105);
}

/**********************
*** Tablet - Desktop **
**********************/
@media screen and (min-width: 881px) {
  /* cart-view container */
  .cart-container {
    width: 70%;
  }
  .checkout-container {
    width: 30%;
    display: inline-block;
    min-height: 400px;
    position: relative;
  }

  /* cart-card styling */
  .cart-card {
    width: 98%;
  }
  .divider {
    border-left: 1px solid black;
    height: 100%;
    margin: 0 10px;
  }
  .cart-img {
    width: 25%;
  }
  .cart-text {
    width: 70%;
  }
  .price {
    font-size: 25px;
  }
  .cart-footer span input {
    width: 50px;
  }
}

/**********************
*** Space - In-betweens ***
**********************/
@media screen and (max-width: 1181px) {
  /* cart-view container */
  .parent-container {
    display: block;
  }
  .cart-container {
    width: 90%;
  }
  .checkout-container {
    width: 70%; /* Take up 30% of the screen */
  }
}

/**********************
*** Mobile - Tablet ***
**********************/
@media screen and (max-width: 881px) {
  /* cart-view container */
  .parent-container {
    display: block;
  }
  .cart-container {
    width: 100%;
    margin: auto;
    height: max-content;
  }
  .checkout-container {
    width: 92%;
    display: block;
    position: relative;
    min-height: max-content;
    max-width: 350px;
    margin: auto;
  }

  /* cart-card styling */
  .cart-card {
    flex-direction: column;
    width: max-content;
    width: 100%;
    max-width: 300px;
    display: inline-block;
    margin: 10px;
  }
  .divider {
    border-left: none;
    height: auto;
    margin: 5px 0;
  }
  .cart-img {
    width: 100%;
    max-width: 160px;
    margin: auto;
  }
  .cart-text {
    width: 100%;
  }
  .category {
    margin: 0 0 10px 0;
    font-size: 18px;
  }
  .price {
    font-size: 18px;
    margin-bottom: 6px;
  }
  .cart-footer span input {
    width: 40px;
    font-size: 18px;
  }
}
