/* Global List styling */
li {
  list-style: none;
}

/* Footer Section */
.footer {
  background-color: black;
  text-align: center;
}

/* Footer List Styling */
.footer div ul {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  padding-top: 40px;
  max-width: 280px;
  text-align: left;
}
.footer div ul:last-child {
  max-width: 380px;
}
.footer div ul li img {
  width: 30px;
  height: 30px;
  margin: 20px 15px 30px 0;
}
.footer li {
  color: white;
}
.footer li a {
  color: white;
}
.footer li a:hover {
  color: darkgray;
}

/* Heading section */
.footer h2 {
  margin-bottom: 20px;
  width: fit-content;
}

/* Newsletter section */
.footer div ul li input {
  width: 70%;
  min-width: 30px;
  height: 40px;
  padding-left: 15px;
  border-radius: 8px 0 0 8px;
}
.footer div ul li input:hover {
  background-color: RGB(220, 220, 220);
}
.footer div ul li button {
  width: 50px;
  height: 40px;
  border-radius: 0 8px 8px 0;
}

/* Copywright section */
.copywright {
  color: white;
  text-align: left;
  padding: 10px 0 30px 0;
}

/**********************
*** Mobile - Tablet ***
**********************/
@media screen and (max-width: 730px) {
  /* Footer List Styling */
  .footer div ul {
    display: block;
    width: 100%;
    padding-top: 20px;
  }
  .footer div ul {
    font-size: 12px;
  }
  .footer div ul h4 {
    font-size: 19px;
  }

  /* Copywright section */
  .copywright {
    font-size: 12px;
  }
}
