.footer-banner {
  background-color: RGB(245, 245, 245);
  height: fit-content;
  text-align: center;
}

.footer-banner div div {
  width: 30%;
  max-width: 420px;
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
}

.footer-banner div div img {
  width: 35px;
  padding: 25px 0 15px 0;
}

.footer-banner div div p {
  color: rgb(105, 105, 105);
  padding-bottom: 30px;
}

.authenticity-heading {
  font-size: 23px;
  width: 200px;
  margin: auto;
}

@media screen and (max-width: 661px) {
  .footer-banner div div {
    width: 100%;
    display: block;
    margin: auto;
  }
  .footer-banner div div img {
    width: 30px;
    padding: 15px 0 10px 0;
  }
  .footer-banner div div h1 {
    font-size: 20px;
  }
  .footer-banner div div p {
    padding-top: 10px;
    font-size: 14px;
  }
  .authenticity-heading {
    font-size: 20px;
    width: 200px;
    margin: auto;
  }
}
