nav {
  height: 45px;
  text-align: center;
  padding: 10px 0 0 0;
  margin: 0;
}

.name {
  font-size: 30px;
  float: left;
  margin-top: -10px;
  font-family: fantasy;
}

.name:hover {
  color: rgb(103, 103, 103);
}

.sneakers {
  height: fit-content;
  width: fit-content;
  display: inline-block;
  padding: 0;
}

.sneakers li {
  text-decoration: none;
  padding: 0 15px 0 15px;
  display: inline-block;
}

.sneakers li a {
  font-size: 20px;
}

.sneakers li a:hover {
  color: black;
  text-decoration: line-through;
}

.cart {
  float: right;
}

.cart a {
  padding: 0 10px 0 10px;
}

.cart img {
  width: 25px;
}

@media screen and (max-width: 661px) {
  nav {
    padding-top: 10px;
  }
  .sneakers {
    display: none;
  }
}
