/* Section styling */
.shopAll {
  height: max-content;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

/* button styling */
.shopAll button {
  border: none;
  color: black;
  width: max-content;
}

/**********************
*** Tablet - Desktop **
**********************/
@media screen and (min-width: 661px) {
  /* Section styling */
  .shopAll {
    padding: 5px;
  }

  /* shoe count styling */
  .shopAll p {
    font-size: 25px;
  }
}

/**********************
*** Mobile - Tablet ***
**********************/
@media screen and (max-width: 661px) {
  /* Section styling */
  .shopAll {
    padding: 3px;
  }

  /* shoe count styling */
  .shopAll p {
    font-size: 20px;
  }
}
