.hamburger {
  display: none;
}
.hamburger-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 90%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.95);
  background-color: white;
  backdrop-filter: blur(8px);
  z-index: 9999;
}
.hamburger-menu.open {
  display: block;
}
.hamburger-menu:not(.open) {
  backdrop-filter: none;
}
.hamburger-menu li {
  list-style: none;
  width: 90%;
  margin: auto;
}
.hamburger-menu li:first-child {
  margin-top: 0px;
}
.hamburger-menu li:last-child {
  margin-bottom: 0px;
}
.hamburger-menu img {
  float: right;
  margin: 13px 20px 0 0;
  width: 20px;
}
.hamburger-menu .shop li {
  padding: 20px;
  border-bottom: 1px solid lightgrey;
}
.hamburger-menu .details li {
  padding: 10px;
}
.hamburger-menu .details a {
  color: rgb(103, 103, 103);
}
.hamburger-menu .shop a {
  font-size: 25px;
}
.hamburger-menu a:hover {
  color: black;
}
.hamburger-header {
  background-color: RGB(245, 245, 245);
  height: 50px;
}
.hamburger-header h1 {
  margin: 0 0 0 20px;
  font-size: 30px;
  display: inline-block;
}
hr {
  border: 1px solid black;
  width: 90%;
  margin: auto;
  padding: 10px;
}

/**********************
*** Mobile - Tablet ***
**********************/
@media screen and (max-width: 661px) {
  .hamburger {
    display: inline-block;
  }
  .hamburger-menu {
    display: none;
  }
  .hamburger-menu.open {
    display: block;
  }
}
