/* Hanburger Menu Section */
.hamburger {
  display: none;
}
.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  background-color: white;
  z-index: 9999;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
}
.hamburger-menu.open {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

/* Hanburger Header Section */
.hamburger-header {
  background-color: RGB(245, 245, 245);
  height: 50px;
  padding-top: 5px;
}
.hamburger-header h1 {
  margin: 0 0 0 20px;
  font-size: 30px;
  display: inline-block;
}
.hamburger-header img {
  float: right;
  margin: 10px 20px 0 0;
  width: 20px;
}

/* Global List styling for the hamburger section */
.hamburger-menu li {
  list-style: none;
  width: 100%;
}
.hamburger-menu li:first-child {
  margin-top: 0px;
}
.hamburger-menu li:last-child {
  margin-bottom: 0px;
}

/* Shopping Links Section */
.hamburger-menu .shop li {
  padding: 20px 0;
  border-bottom: 1px solid lightgrey;
  text-align: left;
}
.hamburger-menu .shop a {
  font-size: 25px;
}

/* Details Section */
.hamburger-menu .details li {
  padding: 10px;
  text-align: center;
}
.hamburger-menu .details a {
  color: rgb(103, 103, 103);
}
.hamburger-menu .details a:hover {
  color: black;
}

/**********************
*** Mobile - Tablet ***
**********************/
@media screen and (max-width: 730px) {
  /* Hamburger Menu Section */
  .hamburger {
    display: inline-block;
    margin-left: 15px;
  }
}
